@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>__NAME__</title>
</head>
<body>
    <div>
        Hello __NAME__!
    </div>
</body>
</html>
